.cards-section {
  position: relative;
  padding-bottom: 61px;
}

.card__load-more {
  display: block;
  margin: 33px auto;
  width: fit-content;
  text-align: center;
}

.cards-section__decorate {
  position: absolute;
  bottom: 41px;
  right: 0;

  pointer-events: none;
}

@media (max-width: 1024px) {
  .cards-section {
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cards-section__decorate {
    display: none;
  }
}

@media (max-width: 767px) {
  .cards-section {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .card__load-more {
    margin: 20px auto;
  }
}
