$color-primary: #b3dbc9;
$color-secondary: #b0e0a7;
$color-text: #000000;
$color-text-light: #c8c7c7;
$color-white: #fff;
$border: 1px solid #dedede;
$color-active-bg: #e0e0e0;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
